
<div>
    <%= link_to 'top_tracks','/top/top_tracks', method: :get %>
</div>

<div>
    <%= link_to 'friends','/friends', method: :get %>  
</div>

<div>
    <%= link_to 'my profile', "/users/#{@user.id}", method: :get %>
</div>

<div>
    <%= link_to 'notifications', "/notifications/#{@user.id}", method: :get %>
</div>