
<% @recommendations.tracks.each do |track| %>
    <% music = RSpotify.get("https://api.spotify.com/v1/audio-features/#{track.id}") %>
    <div>
        name: <%= track.name %>
        energy: <%= music["energy"] %>
    </div>
<% end %>