<% #友達からの聞いてほしい曲のリクエストを表示 %>
<% if @requests != nil %>
    <% @requests.each do |rq| %>
        <div>
            request from <%= User.id_to_spotify_name(rq.f_user_id) %>
            title: <%= rq.music_title %>
            <%= link_to 'del', "/music_requests/#{rq.id}", method: :delete %>
        </div>
    <% end %>
<% end %>