<% data = { "positive" => @user.positive, "energy" => @user.energy } %>
<div class= center>
    your favority genre  -> <%= @user.genre %>
    <hr>
    your positivity rate -> <%= @user.positive %>
    <hr>
    your energy rate     -> <%= @user.energy %>
    <hr>
    <%= bar_chart data, min: 1, max: 100 , width: "100%", height: "12%" %>
</div>
<div>
   
</div>
<div>
   
</div>


